* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
}

/*Navigation Bar --------------------------*/

.search-btn{
    color: gray;
    background-color: whitesmoke;
    border: 1px solid black;
    transition: transform .4s;
}

.search-btn:hover{
    color: black;
    transform: scale(1.1);
}

.navbar-brand,
.nav-item{
    margin-left: 5px;
    transition: transform .4s;
}

.navbar-brand:hover,
.nav-item:hover{
    transform: scale(1.1);
}

/* Footer --------------------------------------- */

#foot-bar {
    height: 6vh;
    width: 100%;
    overflow: hidden;
    margin: auto;
}

#foot-text {
    color: white;
    margin-bottom: 14px;
    text-align: center;
    transition: transform .2s;
}

#foot-text:hover {
    transform: scale(1.1);

}


/* Styles For Homepage Card View ------------------------- */

.card-img-top {
    height: 200px;
    margin: 2px;
}

.post-button {
    display: block;
}

.title-link {
    text-decoration: none;
    color: black;
}

.title-link:hover {
    text-decoration: underline 1px black;
    color: black;
}


/* Post_Detail Styles ------------------------ */

.detail-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30%;
    width: 25%;
    margin-top: 25px;
}

#commentform {
    width: 40%;
}