{% extends "base.html" %}


{% block content %}
<title>{% block title %}News | {% endblock %}</title>
<div class="container px-4 py-2" id="featured-3">
  <h2 class="pb-2 border-bottom text-center">
    <img class="game-img-1" src="https://res.cloudinary.com/benaldo66/image/upload/v1638896045/fallout/game-w_f2jgyv.png" alt="Game-image">

    Keep Up With The Latest Fallout News
    <img class="game-img" src="https://res.cloudinary.com/benaldo66/image/upload/v1638896045/fallout/game-w_f2jgyv.png" alt="Game-image">
  </h2>
    <div class="row g-4 py-3 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <h2>Bethesda.net</h2>
        <p>Bethesda.net is the official website for all news related to Bethesdat games, including
          Fallout 3, Fallout New Vegas, Fallout 4 and Fallout 76. So what are you waiting for! 
          Click Below
        </p>
        <a href="https://fallout.bethesda.net/en" target="_blank" class="icon-link">
          Bethesda.net <i class="fas fa-forward"></i>
        </a>
      </div>

      <div class="feature col">
        <h2>Fallout.fandom</h2>
        <p>This is a great website for all things fallout. It doesn't matter if you are after new game news or where to find 
          the best weapons on the map! Fallout.fandom has it all. So put on your vault suit and click the link below!
        </p>
        <a href="https://fallout.fandom.com/wiki/Fallout_series" target="_blank" class="icon-link">
          Fallout.fandom <i class="fas fa-forward"></i>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">

        </div>
        <h2>Fallout Reddit</h2>
        <p>Lookin for fellow vault dwellers? Then look no further than Reddit's Fallout page, from tips and tricks
          to finding fallout friends. Reddit has it all. Click the link below
        </p>
        <a href="https://www.reddit.com/r/Fallout/" target="_blank" class="icon-link">
          Fallout Reddit <i class="fas fa-forward"></i>

        </a>
      </div>
    </div>
  </div>

  <div class="container px-4 py-2" id="featured-3">
    <h2 class="pb-2 border-bottom text-center">Not Sure What To Wirte About?</h2>
    <p class="text-center"><small>Here Are A Few Conversation Starters! <br>
    Click Image Below For Easter Egg!</small></p>
    <a target="_blank" href="https://www.digitaltrends.com/gaming/fallout-4-easter-eggs/">
    <img class="overlook-img" src="https://res.cloudinary.com/benaldo66/image/upload/v1638983812/fallout/stand-shad_dncwc1.png" alt="Overlooking powerline">
    </a>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"/></svg>
        </div>
        <h2 class="text-center">Easter Eggs</h2>
        <p>What is your favorite easter egg across all Fallout games?
        It's hard to choose just one but for me it has to be Indiana Jones in a fridge in Fallout New Vegas! 
        A close second definitely has to be the toy sloth hanging off of the top of Mad Mulligan's Minecart Coaster in Fallout 4's 
        Nuka world DLC  </p>

      </div>
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"/></svg>
        </div>
        <h2 class="text-center">Favorite Game</h2>
        <p>Maybe write about your favorite Fallout game and start a debate about it? Me personally, it is between New Vegas
          and Fallout 4. I can already feel some fans getting angry reading that since New Vegas wasn't Bethesda and Fallout 4 
          had it's norotious bad dialogue choices. But that's just my opinion :) </p>

      </div>
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
        </div>
        <h2 class="text-center">Most Annoying NPC</h2>
        <p>Whilst there are a lot of great NPC in the Fallout games there are also a few not so great. Am I right Preston?
          For me peronally I choose Lily from Fallout New Vegas. Unpopular opinion I know, But she just got in the way all the time!
        </p>
      </div>
    </div>
  </div>

  <div class="container " id="featured-3">
    <div class="row g-4  row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"/></svg>
        </div>
        <h2 class="text-center">Best Weapon</h2>
        <p>There are literally hundreds of weapons in the Fallout games, So lots to choose from. For me It would have to be either 
           the 2076 world series baseball bat, Just because of how fun it is to see enemies literally fly away or the gainer. Small, simple,
           effective, I like it.
        </p>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"/></svg>
        </div>
        <h2 class="text-center">Best DLC </h2>
        <p>For me, the answer is simple. I love big mountain! The old worls blues DLC blew my mind when I first played it. 
          The weapons, characters and just the layout of the map was like nothing I had ever seen before. The conclusion of the whole storyline
          was so bizzare and funny that it's something I will never forget!
        </p>

      </div>
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
        </div>
        <h2 class="text-center">Worst Quest</h2>
        <p>Putting the great quests to the side, lets focus on the bad ones. Fallout has had some questionable quests over ther years.
          I'm not a fan of follow me missions. But they are nothing compared to hearing the phrase, "Another settlement needs your help!" 
          If that's the case Preston, just do it yourself!
        </p>

      </div>
    </div>
  </div>


{% endblock %}