{% extends "base.html" %}

{% block content %}

<title>{% block title %}| {{ post.title }}{% endblock %} </title>


    {% with comments.count as total_comments %}
        Comment(s) {{ total_comments }} <br>

    {% endwith %}
    {% for comment in comments %}
    Comment by {{ comment.name }}<br>
    {{ comment.content }}<br>
    on {{ comment.publish }}
    {% empty %}
    No Comments Yet!
    {% endfor %}
    <h1>Add Comment</h1>
    <form id="commentform" method="post">

        {{ comment_form.as_p }}
        {% csrf_token %}
        <button type="submit">Submit</button>

    </form>
{% endblock %}